.hide{
    display: none;
}

/* General design */
body {
    font-family: 'Work Sans';
}

.primary-color {
    color: #FF42A5;
}

.gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-button {
    background-color: #FF42A5;
    padding: 18px 40px;
    border-radius: 48px;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Navigation section */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo h1 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-menu li {
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-follow {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 220px;
    height: 25px;
    display: flex;
    gap: 16px;
    padding: 15px 20px;
}

/* Header section */
header {
    background-color: whitesmoke;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.header-section h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 120px;
    margin-bottom: 0px;
}

.header-section h1 {
    font-size: 6rem;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 24px;
}

.header-section li {
    margin-bottom: 10px;
}

.blue-button {
    color: #FFF;
    background-color: #4EC5F7;
    border: none;
    border-radius: 48px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 18px 35px;
}

/* Main section */
/* First section */
.first-section {
    display: flex;
    margin-top: 100px;
}

.first-section-div {
    text-align: right;
}

.first-section h2 {
    font-size: 3rem;
    font-weight: 700;
}

.first-section p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
}

.first-section h4 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 0px;
}

.first-section h3 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
    margin-top: 0px;
}

/* Second section */
.second-section h2 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0px;
}

.second-section>p {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

.second-section-div {
    display: flex;
    justify-content: center;
}

.second-section-div p {
    color: #534C64;
    width: 342px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
}

/* Third section */
.third-section {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.third-section h2 {
    color: #0B0223;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.third-section p {
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
}

.third-section-div2 {
    position: relative;
    bottom: 150px;
    right: 100px;
}

/* Sixth section */
.sixth-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 70px;
}

.sixth-section .images {
    display: flex;
    margin-bottom: 20px;
}

.sixth-section .images:hover{
    color: #FF42A5;
    border: 2px solid #FF42A5;
    border-radius: 50px;
}

.sixth-section p {
    width: 180px;
}

/* footer */
footer {
    background: #0B0223;
}

.footer-section-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
}

footer h2 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.footer-ul1 {
    list-style: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.footer-section-div2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}

.footer-ul2 ul {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

footer p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    padding-bottom: 130px;
}

/* Responsive media query for small devices */
@media screen and (max-width: 576px) {

    nav,
    .nav-menu ul,
    .first-section {
        flex-direction: column;
    }

    .nav-menu ul{
        gap: 16px;
    }

    header {
        padding-top: 50px;
        height: 100%;
        flex-direction: column-reverse;
    }
    .header-section {
        padding: 20px;
    }
    .header-section h2{
        padding: 10px;
    }

    .first-section{
        margin-top: 20px;
    }
    .first-section img {
        width: 100%;
    }

    .first-section-div {
        text-align: center;
    }

    .first-section-div p {
        width: 380px;
    }

    .second-section{
        margin: 20px;
    }
    .second-section-div {
        flex-direction: column;
        align-items: center;
    }

    .third-section {
        flex-direction: column;
    }

    .third-section h2,
    .third-section p {
        text-align: center;
        margin: 20px;
    }

    .third-section-div1 > img {
        height: 80%;
        width: 80%;
        margin-left: 50px;
    }

    .third-section-div2 > img{
        height: 30%;
        width: 30%;
        margin-left: 100px;
        top: 50px;
        position: relative;
    }

    .sixth-section{
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }

    .footer-ul1 {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        gap: 25px;
    }

    .footer-section-div2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 40px;
    }

    .footer-ul2 ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
    nav{
        width: 100%;
        flex-direction: column;
    }
    header{
        flex-direction: column;
        margin-top: 50px;
        height: 100%;
        width: 100%;
    }
    .header-section{
        text-align: center;
    }

    .first-section{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .first-section img{
        width: 90%;
    }
    .first-section-div{
        text-align: center;
    }
    .first-section-div p {
        width: 100%;
    }

    .second-section-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 30px;
    }

    .third-section{
        flex-direction: column;
        margin: 50px;
    }
    .third-section p, .third-section h2{
        text-align: center;
    }
    .third-section p{
        width: 600px;
    }
    .third-section-div1{
        margin-left: 150px;
    }

    .sixth-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}